*{

    font-family: 'Times New Roman', Times, sans-serif;
    background: rgb(73, 94, 211);
    
}


h1 {

    color:rgb(0, 60, 255);
    background-color: rgb(68, 151, 230);
    text-align: center;
    font-size: 50px;
    padding: 1%;
    border: 3px solid rgba(22, 4, 184, 0.925);
    margin: 10% ;
    margin-bottom: 2%;
    margin-top: 1%;
    
}


.images-holder {

background: rgb(68, 151, 230);
text-align: center;
padding: 2%;
margin: 2%;
border: 3px solid rgba(22, 4, 184, 0.925);

}

h2 {
    text-align: center;
    color: white;
    font-size: 40px;
}

h3 {

    text-align: center;
    color: white;
    font-size: 35px;
}

p {

    text-align: center;
    color: white;
    font-size: 25px;
}



img {

    background-color: rgba(22, 4, 184, 0.925);
    margin: 1%;
    padding: 2mm;   

}


.list-holder {

    text-align: center;
    color: white;
    font-size: 25px;
    text-align: center;
    z-index: 1;
    
    
}



ul  {

    display: inline-block;
    text-align: left;
    color: white;
    z-index: 1;
}


.circleBase {
    border-radius: 50%;
    z-index: 1; 
    padding: 10%;
    position: absolute;
    left: 45%;
    top: 35%;
    opacity: 15%;
}

.circleleft {
    border-radius: 50%;
    z-index: 1;
    padding: 10%;
    position: absolute;
    right: 45%;
    top: 15%;
    opacity: 30%;
}


.type3 {
    width: 350px;
    height: 350px;
    background: rgb(138, 144, 177);
    border: 3px solid rgb(34, 61, 214);
    margin: 10%;
    margin-top: 10%; 
    margin-bottom: 30%;
    
             
    }