*{

    font-family: 'Times New Roman', Times, sans-serif;
    background: rgb(72, 97, 235);
}


h1 {

    color:rgb(0, 60, 255);
    background-color: rgb(68, 151, 230);
    text-align: center;
    font-size: 50px;
    padding: 1%;
    border: 3px solid rgba(22, 4, 184, 0.925);
    margin: 10% ;
    margin-bottom: 2%;
    margin-top: 1%;
    
}


.images-holder {

background: rgb(68, 151, 230);
text-align: center;
padding: 2%;
margin: 2%;
border: 3px solid rgba(22, 4, 184, 0.925);

}


h2 {
    text-align: center;
    color: white;
    font-size: 40px;
}

h3 {

    text-align: center;
    color: white;
    font-size: 35px;
}

p {

    text-align: center;
    color: white;
    font-size: 25px;
}



img {

    height: 250px;
    width: auto;
    margin-right:auto;
    margin-left: auto;
    margin: auto;
    padding: 2mm;
    background-color: rgb(22, 4, 184, 0.925);
}


.list-holder {

    text-align: center;
    color: white;
    font-size: 25px;
    text-align: center;
    
}



ul  {

    display: inline-block;
    text-align: left;
    color: white;
}

ol {


    display: inline-block;
    text-align: center;
    color: white;
    list-style-position: inside;
}